body {
    background-color: rgb(105, 102, 102);
    color: whitesmoke;
    font-size: larger;
    margin: 10% 250px;
    position: relative;
}

img {
    width: 200px;
    height: 200px;
}

hr {
    width: 550px;
    position: absolute;
    left: -25px;
}

